	<div class="box1">
		<div class="wrapper">
			<div id="slider">
				<div id="slider_nivo">
					<img src="images/hay.png" alt="">
					<img src="images/horse.png" alt="">
					<img src="images/golf.png" alt="">
					<img src="images/family.png" alt="">
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="container_24">
				<div class="line1 marg_bot1"><div class="line2 wrapper">
					<article class="grid_8">
						<h2>welcome!</h2>
						<p class="font1">The City of Shelby<br>
is small town living at its best. With great people, fun activities and a strong sense of community.</p>
					</article>
					<article class="grid_8">
						<div class="pad_left1 pad_right1">
							<h2>our news</h2>
							<p><strong class="color1">12.Jan.2012 Council Meeting (6:00pm)</strong><br>
									The public is welcome and minutes <br>
									will be available following the meeting.</p>
							<a href="#" class="button">More News</a>
						</div>
					</article>
					<article class="grid_8">
						<div class="pad_left1 pad_right1">
							<h2><span>Departments</span></h2>
							<div class="wrapper">
							<div class="grid_3 alpha">
								<ul class="list1">
									<li><a href="#">Public Works</a></li>
									<li><a href="#">Sheriff</a></li>
									<li><a href="#">Zoning Permits</a></li>
									<li><a href="#">Pet Licenses</a></li>
									<li><a href="#">Landfill</a></li>
									<li><a href="#">Campground</a></li>
								</ul>
								
							</div>
							<div class="grid_3 omega">
								<ul class="list1">
									<li><a href="#">Local Business</a></li>
									<li><a href="#">Community</a></li>
									<li><a href="#">Finance</a></li>
									<li><a href="#">Elections</a></li>
									
								</ul>
								</div>
							</div>
							<br/>
							<a href="#" class="button">Online Bill Pay</a>
						</div>
					</article>
				</div></div>
				<div class="wrapper">
					<div class="grid_16">
						<div class="box2">
							<h2>community events</h2>
							<div class="wrapper line3">
								<div class="cols">
									<figure><img src="images/page1_img1.png" alt="" class="pad_bot1"></figure>
									<p class="font2"><strong>Tree of Lights:</strong> Brought to you by the Toole County Health Foundation</p>
									<a href="#" class="link1">Read More</a>
								</div>
								<div class="cols pad_left2">
									<figure><img src="images/page1_img2.png" alt="" class="pad_bot1"></figure>
									<p class="font2"><strong>Christmas Stroll:</strong> Come join us for our annual Christmas Stroll.</p>
									<a href="#" class="link1">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="grid_8">
						<a href="#"><img src="images/page1_img3.jpg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>