<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/grid.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <script type="text/javascript" src="js/jquery-1.4.2.js" ></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script>  
  		<script type="text/javascript" src="js/RomanSerif_500.font.js"></script>
  <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript" src="js/script.js" ></script>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
  	<script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->

</head>

<body id="page4">
<div class="body1">
		<div class="main">
			<!--header -->
			<header>
				<div class="box1">
					<div class="wrapper">
						<h1><a href="index.html" id="logo">adagio </a></h1>
						<div id="twitter"><a href="#"></a></div>
						<a href="#" class="link">city college of music </a>
					</div>
				</div>
				<div class="wrapper">
					<nav>
						<ul id="menu">
							<li><a href="index.html">About us</a></li>
							<li><a href="index-1.html">classes</a></li>
							<li><a href="index-2.html">our staff</a></li>
							<li><a href="index-3.html">courses</a></li>
							<li class="bg_none"><a href="index-4.html">Contact us</a></li>
						</ul>
					</nav>
					<ul id="icons">
						<li><a href="#"><img src="images/icon1.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/icon2.jpg" alt=""></a></li>
					</ul>
				</div>
			</header>
			<!--header end-->
			<!--content -->
			<section id="content">
				<div class="box1">
					<div class="wrapper">
						<div id="slider">
							<div id="text"><img src="images/text.png" alt=""></div>
							<div id="slider_nivo">
								<img src="images/img1.jpg" alt="">
								<img src="images/img2.jpg" alt="">
								<img src="images/img3.jpg" alt="">
								<img src="images/img4.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="container_24">
							<div class="wrapper">
								<div class="grid_15">
									<h2>music courses</h2>
									<div class="wrapper marg_bot1">
										<figure class="left marg_right1 marg_top1"><img src="images/page4_img1.jpg" alt=""></figure>
										<p class="pad_bot1"><strong class="color1">MA in Contemporary Music Performance</strong></p>
										<ul class="list2 pad_bot1">
											<li><a href="#">Performance: Typically Guitar, Bass, Drums, Vocals but all instrumentalists are considered.</a></li>
										</ul>
										<p class="pad_bot2"><strong><span class="color1">Course start date:</span> January 2011</strong></p>
										<a href="#" class="link1">Read More</a>
									</div>
									<div class="wrapper marg_bot1">
										<figure class="left marg_right1 marg_top1"><img src="images/page4_img2.jpg" alt=""></figure>
										<p class="pad_bot1"><strong class="color1">BMus(Hons) / BA(Hons) Music Degree</strong></p>
										<ul class="list2 pad_bot1">
											<li><a href="#">Performance: Guitar, Bass, Drum, Vocal</a></li>
											<li><a href="#">Music Production: Creative Sound Design for New Media</a></li>
											<li><a href="#">Music Business</a></li>
										</ul>
										<p class="pad_bot2"><strong><span class="color1">Course start date:</span> January 2011</strong></p>
										<a href="#" class="link1">Read More</a>
									</div>
									<div class="wrapper marg_bot1">
										<figure class="left marg_right1 marg_top1"><img src="images/page4_img3.jpg" alt=""></figure>
										<p class="pad_bot1"><strong class="color1">Music Diploma</strong></p>
										<ul class="list2 pad_bot1">
											<li><a href="#">Performance: Guitar, Bass, Drum, Vocal</a></li>
											<li><a href="#">Music Production: Tour Production and Management </a></li>
										</ul>
										<p class="pad_bot2"><strong><span class="color1">Course start date:</span> January 2011</strong></p>
										<a href="#" class="link1">Read More</a>
									</div>
									<a href="#" class="link1">View All Courses</a>
								</div>
								<div class="grid_8 prefix_1">
									<div class="box2">
										<h2>Featured <span>Courses</span></h2>
										<ul class="list2">
											<li><a href="#">Music Education</a></li>
											<li><a href="#">Radio Production Courses </a></li>
											<li><a href="#">Music Technology</a></li>
											<li><a href="#">Singing &amp; Songwriting Courses </a></li>
											<li><a href="#">DJ Courses </a></li>
											<li><a href="#">Chamber Music</a></li>
										</ul>
										
									</div>
									<a href="#"><img src="images/page4_img4.jpg" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--content end-->
			<!--footer -->
			<footer>
				<div class="box1">
					<div class="container_24">
						<div class="wrapper">
							<div class="grid_24">
							<ul id="footer_menu">
								<li><a href="index.html">About us</a></li>
								<li><a href="index-1.html">Classes</a></li>
								<li><a href="index-2.html">Our Staff </a></li>
								<li><a href="index-3.html">Courses</a></li>
								<li class="bg_none"><a href="index-4.html">Contact us</a></li>
							</ul>
							adagio &copy; 2011  &nbsp;|&nbsp;  <a href="index-5.html">Privacy policy</a><br>
							<!-- {%FOOTER_LINK} -->
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!--footer end-->
		</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>