<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/grid.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <script type="text/javascript" src="js/jquery-1.4.2.js" ></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script>  
  		<script type="text/javascript" src="js/RomanSerif_500.font.js"></script>
  <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript" src="js/script.js" ></script>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
  	<script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->

</head>

<body id="page3">
<div class="body1">
		<div class="main">
			<!--header -->
			<header>
				<div class="box1">
					<div class="wrapper">
						<h1><a href="index.html" id="logo">adagio </a></h1>
						<div id="twitter"><a href="#"></a></div>
						<a href="#" class="link">city college of music </a>
					</div>
				</div>
				<div class="wrapper">
					<nav>
						<ul id="menu">
							<li><a href="index.html">About us</a></li>
							<li><a href="index-1.html">classes</a></li>
							<li><a href="index-2.html">our staff</a></li>
							<li><a href="index-3.html">courses</a></li>
							<li class="bg_none"><a href="index-4.html">Contact us</a></li>
						</ul>
					</nav>
					<ul id="icons">
						<li><a href="#"><img src="images/icon1.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/icon2.jpg" alt=""></a></li>
					</ul>
				</div>
			</header>
			<!--header end-->
			<!--content -->
			<section id="content">
				<div class="box1">
					<div class="wrapper">
						<div id="slider">
							<div id="text"><img src="images/text.png" alt=""></div>
							<div id="slider_nivo">
								<img src="images/img1.jpg" alt="">
								<img src="images/img2.jpg" alt="">
								<img src="images/img3.jpg" alt="">
								<img src="images/img4.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="container_24">
							<div class="wrapper">
								<article class="grid_24">
									<h2>The best of professionals</h2>
									<div class="wrapper">
										<article class="grid_12 alpha">
											<div class="box3">
												<div class="wrapper">
													<figure class="left marg_right1"><a href="#"><img src="images/page3_img1.jpg" alt=""></a></figure>
													<p><strong>Sam Kromstain</strong><br>consectetuer adipiscing</p>
													Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.
												</div>
											</div>
											<div class="box3">
												<div class="wrapper">
													<figure class="left marg_right1"><a href="#"><img src="images/page3_img2.jpg" alt=""></a></figure>
													<p><strong>Helen Tompson</strong><br>consectetuer adipiscing</p>
													Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.
												</div>
											</div>
											<div class="box3">
												<div class="wrapper">
													<figure class="left marg_right1"><a href="#"><img src="images/page3_img3.jpg" alt=""></a></figure>
													<p><strong>John Franklin </strong><br>consectetuer adipiscing</p>
													Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.
												</div>
											</div>
										</article>
										<article class="grid_12 omega">
											<div class="box3">
												<div class="wrapper">
													<figure class="left marg_right1"><a href="#"><img src="images/page3_img4.jpg" alt=""></a></figure>
													<p><strong>Julia Berzkalna</strong><br>consectetuer adipiscing</p>
													Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.
												</div>
											</div>
											<div class="box3">
												<div class="wrapper">
													<figure class="left marg_right1"><a href="#"><img src="images/page3_img5.jpg" alt=""></a></figure>
													<p><strong>Mark Johnson</strong><br>consectetuer adipiscing</p>
													Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.
												</div>
											</div>
											<div class="box3">
												<div class="wrapper">
													<figure class="left marg_right1"><a href="#"><img src="images/page3_img6.jpg" alt=""></a></figure>
													<p><strong>Camala Haddon</strong><br>consectetuer adipiscing</p>
													Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.
												</div>
											</div>
										</article>
										
									</div>
								</article>
								
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!--content end-->
			<!--footer -->
			<footer>
				<div class="box1">
					<div class="container_24">
						<div class="wrapper">
							<div class="grid_24">
							<ul id="footer_menu">
								<li><a href="index.html">About us</a></li>
								<li><a href="index-1.html">Classes</a></li>
								<li><a href="index-2.html">Our Staff </a></li>
								<li><a href="index-3.html">Courses</a></li>
								<li class="bg_none"><a href="index-4.html">Contact us</a></li>
							</ul>
							adagio &copy; 2011  &nbsp;|&nbsp;  <a href="index-5.html">Privacy policy</a><br>
							<!-- {%FOOTER_LINK} -->
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!--footer end-->
		</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>

</body>
</html>