<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/grid.css" type="text/css" media="all">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
  <script type="text/javascript" src="js/jquery-1.4.2.js" ></script>
  <script type="text/javascript" src="js/cufon-yui.js"></script>
  <script type="text/javascript" src="js/cufon-replace.js"></script>  
  		<script type="text/javascript" src="js/RomanSerif_500.font.js"></script>
  <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript" src="js/script.js" ></script>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
  	<script type="text/javascript" src="js/html5.js"></script>
  <![endif]-->

</head>

<body id="page5">
<div class="body1">
		<div class="main">
			<!--header -->
			<header>
				<div class="box1">
					<div class="wrapper">
						<h1><a href="index.html" id="logo">adagio </a></h1>
						<div id="twitter"><a href="#"></a></div>
						<a href="#" class="link">city college of music </a>
					</div>
				</div>
				<div class="wrapper">
					<nav>
						<ul id="menu">
							<li><a href="index.html">About us</a></li>
							<li><a href="index-1.html">classes</a></li>
							<li><a href="index-2.html">our staff</a></li>
							<li><a href="index-3.html">courses</a></li>
							<li class="bg_none"><a href="index-4.html">Contact us</a></li>
						</ul>
					</nav>
					<ul id="icons">
						<li><a href="#"><img src="images/icon1.jpg" alt=""></a></li>
						<li><a href="#"><img src="images/icon2.jpg" alt=""></a></li>
					</ul>
				</div>
			</header>
			<!--header end-->
			<!--content -->
			<section id="content">
				<div class="box1">
					<div class="wrapper">
						<div id="slider">
							<div id="text"><img src="images/text.png" alt=""></div>
							<div id="slider_nivo">
								<img src="images/img1.jpg" alt="">
								<img src="images/img2.jpg" alt="">
								<img src="images/img3.jpg" alt="">
								<img src="images/img4.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="wrapper">
						<div class="container_24">
							<div class="wrapper marg_bot1">
								<article class="grid_24">
									<div class="wrapper">
										<figure class="left"><iframe width="331" height="219" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></figure>
										<h2>How to find us</h2>
										<p class="cols">The Company Name Inc.<br>
												8901 Marmora Road, <br>
												Glasgow, D04 89GR.<br>
												  <span class="right">+1 800 559 6580</span>Freephone:<br>
												  <span class="right">+1 800 603 6035</span>Telephone:<br>
											        <span class="right">+1 800 889 9898</span>	FAX:   <br>
												<span class="right"><a href="mailto:" class="link2">mail@demolink.org</a></span>E-mail: </p>
										<p class="cols">Customer Service<br>
												  <span class="right">+1 800 603 6035</span>Telephone:<br>
												     <span class="right">+1 800 889 9898</span>FAX:      <br>
												 <span class="right"><a href="mailto:" class="link2">mail@demolink.org</a></span>E-mail:</p>
									</div>	
								</article>
								
							</div>
							<div class="wrapper">
								<div class="grid_24">
									<div class="box2">
										<h2>contact form</h2>
										<form id="ContactForm">
											<div>
												<div class="col_1">
													<div class="wrapper"><input class="input" type="text" value="Enter Your Name"  onblur="if(this.value=='') this.value='Enter Your Name'" onfocus="if(this.value =='Enter Your Name' ) this.value=''" ></div>
													<div class="wrapper"><input class="input" type="text" value="Enter Your E-mail"  onblur="if(this.value=='') this.value='Enter Your E-mail'" onfocus="if(this.value =='Enter Your E-mail' ) this.value=''" ></div>
													<div class="wrapper"><input class="input" type="text" value="Enter Your Phone"  onblur="if(this.value=='') this.value='Enter Your Phone'" onfocus="if(this.value =='Enter Your Phone' ) this.value=''"></div>
												</div>
												<div class="col_2">
														<div class="textarea_box"><textarea name="textarea" cols="1" rows="1" onfocus="if(this.value =='Enter Your Message' ) this.value=''" onblur="if(this.value=='') this.value='Enter Your Message'"  >Enter Your Message</textarea></div>
												</div>
												<a href="#" class="link1" onclick="document.getElementById('ContactForm').submit()">Send Message</a>
												<a href="#" class="link1" onclick="document.getElementById('ContactForm').reset()">Clear</a>
											</div>
										</form>	
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--content end-->
			<!--footer -->
			<footer>
				<div class="box1">
					<div class="container_24">
						<div class="wrapper">
							<div class="grid_24">
							<ul id="footer_menu">
								<li><a href="index.html">About us</a></li>
								<li><a href="index-1.html">Classes</a></li>
								<li><a href="index-2.html">Our Staff </a></li>
								<li><a href="index-3.html">Courses</a></li>
								<li class="bg_none"><a href="index-4.html">Contact us</a></li>
							</ul>
							adagio &copy; 2011  &nbsp;|&nbsp;  <a href="index-5.html">Privacy policy</a><br>
							<!-- {%FOOTER_LINK} -->
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!--footer end-->
		</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>

</body>
</html>